body {
    font-size: 1em;
    font-family: Verdana, sans-serif;
}
/*

#start
#choices
#response
#end 
*/


#wrapper {
    position: relative;
    width: 100%;
}

#topleft {
    position: absolute;
    left: 10px;
    top: 10px;
}

#topright {
    position: absolute;
    right: 10px;
    top: 10px;
}

#main {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}

#main p {
    text-align: justify;
}

#holmes_pic {
    width: 200px;
    padding-bottom: 15px;
}

h1 {
    font-size: 2em;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.5em;
}
/*

.illus
*/

button {
    background: transparent;
    border: 1px solid grey;
}

.round {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: none;
    background-color: red;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
}

#play_again {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#play {
    width: 50px;
    height: 50px;
    padding-top: 20px;
}

#play_again:hover, #play:hover {
    cursor: pointer;
}

#question {
    display: none;
}

#response {
    display: none;
}

#end {
    display: none;
}

#next {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
#close {
    width: 20px;
    height: 20px;
}