body {
    font-size: 0.9em;
    font-family: Verdana, sans-serif;
}

#wrapper {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#top {
   display: none;
}

#topleft {
    position: absolute;
    left: 30px;
    top: 10px;
}

#topright {
    position: absolute;
    right: 30px;
    top: 10px;
}

#main {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}

#main p {
    text-align: justify;
    padding-bottom: 10px;
     line-height: 125%;
}



#holmes_pic {
    width: 200px;
    padding-bottom: 15px;
}

h1 {
    font-size: 2.7em;
    padding-bottom: 10px;
    font: 600 3em/125% Sacramento, Helvetica, sans-serif;
}

h2 {
    font-size: 2.5em;
    font: 600 2.5empx/125% Sacrameno, Helvetica, sans-serif;
    padding-bottom: 10px;
}

button {
    background: transparent;
    border: 1px solid DarkGrey;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.8em;
}

button:hover {
    cursor: pointer;
    background-color: LightGrey;
    border: 1px solid DarkGrey;
}

button:active {
    cursor: pointer;
    background-color: Tomato;
    border: 1px solid DarkGrey;
}

.round {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
}

.round b {
    position: relative;
    top: 8px;
}

#question_number {
    background-color: LightGrey;
}

#total_questions {
    background-color: DarkGrey;
}

#playagain {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#startgame {
    width: 50px;
    height: 50px;
    padding-top: 10px;
}

.play:hover {
    cursor: pointer;
}

#gamecontent {
    text-align: left;
    padding-top: 20px;
    display:none;
}

.illus {
    display: inline;
    width: 150px;
    float: left;
    padding-right: 15px; 
}

#gamecontent p {
    display: inline;
}

#choices {
    clear: both;
    text-align: center;
    padding-top: 20px;
}

#end {
    display: none;
}

#end p {
    text-align: center;
}

#end_total_right {
    background-color: MediumAquaMarine;
}

#end_total_wrong {
    background-color: OrangeRed;
}
